
<div class="main">
  <div class="container-fluid">

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">Pokedex</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Pokemons <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Sign Out <span class="sr-only">(current)</span></a>
              </li>
            
            
            
          </ul>
          
        </div>
      </nav>





<!--cards-->
    <div class="row" >
      <div class="col-sm-2 d-flex align-items-stretch" *ngFor="let data of pokemons.pokemon">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{data.img}}" alt="{{data.name}}">
          <div class="card-body">
            <p class="card-text"><span class="pokemon-name" >{{data.name}}</span>  <span class="pokemon-id">{{data.id}}</span> </p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div> 
