.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vw 0vw;
    height: 100vh;
    color: rgb(230, 211, 211);
}

.body{
    background-image: radial-gradient(circle, rgb(0, 89, 255), rgb(96, 142, 180), rgb(101, 205, 236));  
}

.form-horizontal{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(95, 130, 199);
    
}

#legend{
    text-align:center;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    
}

label{
    text-align:center;
}